:root {
    --cokelatMuda: #eed9c4;
    --cokelatSedang: #ac8f69;
    --cokelatTua: #422b0c;
    --textColor1: #221c16;
    --textColor2: #474543;
    --white: #ffffff;
}

/* Basic Styling */
body {
    font-family: 'Poppins', 'Roboto', 'Open Sans', sans-serif;
    background-color: var(--cokelatMuda2); /* Background lebih soft */
    color: var(--textColor1); /* Warna teks utama */
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    padding: 20px;
    background-color: var(--cokelatMuda); 
    color: var(--textColor1); 
}

h1, h2 {
    color: var(--cokelatTua); 
}

p {
    color: var(--textColor2); 
}

section {
    margin: 20px auto;
    max-width: 600px;
    padding: 10px;
}

/* Checklist Section */
.daily-checklist{
    background-color: var(--cokelatMuda);
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
    margin-top: 0;
    border-radius: 30px;
}

.daily-checklist ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column; /* Supaya item tetap vertikal */
    justify-content: center;
    align-items: center; /* Memusatkan ul beserta itemnya */
    font-size: large;
}

.daily-checklist h2{
    background-color: var(--cokelatSedang);
    padding: 10px 50px;
    border-radius: 15px;
    margin-bottom: 20px;
}

.daily-checklist li {
    display: flex;
    align-items: center;
    margin: 10px 0;
    
}

.habit {
    margin-right: 10px;
}

label {
    color: var(--cokelatTua); /* Warna label checklist */
}

/* ------------------------------------------------ */
/* Container for the progress bar */
#progressContainer {
    width: 100%;
    background-color: #f3f3f3;
    border-radius: 20px;
    margin-top: 20px;
}

/* Actual progress bar */
#progressBar {
    width: 0%;
    height: 20px;
    background-color: #4caf50; /* Warna hijau untuk progress */
    border-radius: 20px;
    transition: width 0.3s ease;
}

/* --------------------------------------- */


/* Quotes Section */
.daily-quote {
    background-color: var(--cokelatMuda);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 150px;
    margin-top: 300px;
    height: 250px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center; /* Aligns horizontally */
    align-items: center;     /* Aligns vertically */
}

blockquote {
    font-style: italic;
    color: var(--textColor2); /* Warna kutipan */
    margin: 0;
    font-size: 1.5rem;
    
}
