:root {
    --cokelatMuda: #eed9c4;
    --cokelatSedang: #ac8f69;
    --cokelatTua: #422b0c;

    --textColor1: #221c16;
    --textColor2: #474543;

    --white: #ffffff;
}
/* Basic Styling */
body {
    font-family: Arial, sans-serif;
    background-color: var(--cokelatMuda2); /* Background lebih soft */
    color: var(--textColor1); /* Warna teks utama */
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    padding: 20px;
    background-color: var(--cokelatMuda); /* Background header */
    color: var(--textColor1); /* Warna teks header */
}

h1, h2 {
    color: var(--cokelatTua); /* Judul dengan warna cokelat tua */
}

p {
    color: var(--textColor2); /* Warna teks paragraf */
}

section {
    margin: 20px auto;
    max-width: 600px;
    padding: 10px;
}

/* Checklist Section */
.daily-checklist ul {
    list-style-type: none;
    padding: 0;
}

.daily-checklist li {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.habit {
    margin-right: 10px;
}

label {
    color: var(--cokelatTua); /* Warna label checklist */
}

/* Progress Bar Styling */
.progress-container {
    width: 100%;
    background-color: var(--cokelatSedang); /* Background progress bar */
    border-radius: 20px;
    height: 30px;
    margin: 20px 0;
}

.progress-bar {
    width: 0;
    height: 100%;
    background-color: var(--cokelatTua); /* Warna progress bar */
    border-radius: 20px;
    transition: width 0.4s ease;
}

#progress-percentage {
    color: var(--cokelatTua); /* Warna persentase progress */
}

/* Quotes Section */
.daily-quote {
    background-color: var(--cokelatMuda);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

blockquote {
    font-style: italic;
    color: var(--textColor2); /* Warna kutipan */
    margin: 0;
    font-size: 1.5rem;
}
